<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orçamento</title>
    <style type="text/css">
      .container {
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p>Seu orçamento já está disponível</p>
      <p>
        Faça o login em
        <a href="http://localhost:3000/login">http://localhost:3000/login</a>
        e acesse a opção de orçamento para ver os detalhes
      </p>
    </div>
  </body>
</html>
